/*This is for our entire project. This document will be compressed at the end and converted to be used appropriatelycontent:*/





/*VARIABLE*/
:root {
    --primary-color: #006699;
    --secondary-color: #009933;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
  }
  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
  }

  