








.my-badge {
	top: 0;
	right: 0;
	background-color: rgb(255, 115, 0);
	color: white;
	font-size: 12px;
	border-radius: 50%;
	margin-left: 10px;
	animation: bounce 1s infinite;
  }


  @keyframes bounce {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
  }